@charset "UTF-8";
@use "../../foundation/variables" as var;


.c-link-btn__contact--narrow,.c-link-btn__line--narrow,.c-link-btn__contact--wide,.c-link-btn__line--wide {
    width: 160px;
    height: 80px;
    background-color: var.$orange;
    border-radius: 8px;
    box-shadow: 3px 3px 2px #823D11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    .head {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
            width: 38px;
            min-width: 0;
            min-height: 0;
        }
        .title {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2;
            color: white;
            .u-nowrap {
                display: block;
            }
        }
    }

    .lead {
        font-size: 1.4rem;
        text-align: center;
        line-height: 22px;
        padding: 0 6px;
        background-color: #fff;
        border-radius: 6px;
        margin-top: 4px;
    }
}
.c-link-btn__line--narrow,.c-link-btn__line--wide {
    background-color: var.$green;
    box-shadow: 3px 3px 2px #216325;
}

.c-link-btn__contact--wide,.c-link-btn__line--wide {
    width: 280px;
    height: 72px;

    .head {
        gap: 18px;
        .title {
            font-size: 1.8rem;
            .u-nowrap {
                display: inline-block;
            }
        }
    }

    .lead {
        font-size: 1.6rem;
        padding: 0 24px;
    }
}

.c-link-btn__contact--narrow:hover,.c-link-btn__line--narrow:hover,.c-link-btn__contact--wide:hover,.c-link-btn__line--wide:hover {
    cursor: pointer;
    box-shadow: none;
    opacity: 0.9;
    transform: translate( 2px, 2px);
}