@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-copyright {
    width: 100%;
    background-color: #282828;
    text-align: center;

    .copy {
        font-size: 1rem;
        color: white;
        line-height: 40px;
        @include var.breakpoint(pc) {
            font-size: 1.4rem;
            line-height: 48px;
        }
    }
}