@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-header__nav {
    display: none;
    @include var.breakpoint(tablet) {
        display: block;
        margin-top: 22px;
    }

    .nav-menu {
        height: 26px;
        display: flex;
        justify-content: center;

        &__item {
            padding-left: 3.8%;
            padding-right: 3.8%;
            border-right: 1px solid black;
            white-space: nowrap;
        }

        &__item:last-child {
            border-right: none;
        }
    }
}

.nav-menu .menu-item {
    transition: 0.2s;
}
.nav-menu .menu-item:hover {
    opacity: 0.6;
}