@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-logo-title {
    transition: 0.3s;
    height: 50px;
    @include var.breakpoint(tablet) {
        height: auto;
    }
    
    a {
        display: inline-block;

        .logo-head {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            p {
                font-family: "M PLUS Rounded 1c", serif;
                font-size: 1rem;
                padding-bottom: 6px;
                white-space: nowrap;
                @include var.breakpoint(tablet) {
                    font-size: 1.6rem;
                }
            }
            img {
                width: 34px;
                @include var.breakpoint(tablet) {
                    width: 50px;
                }
            }
        }

        .logo-name {
            font-family: "M PLUS Rounded 1c", serif;
            font-size: 1.5rem;
            font-weight: 800;
            white-space: nowrap;
            span {
                color: var.$green;
            }
            @include var.breakpoint(tablet) {
                font-size: 2.4rem;
            }
        }
    }
}

.p-logo-title:hover {
    opacity: 0.7;
}