@charset "UTF-8";
@use "../../foundation/variables" as var;


.p-service-list {
    margin-top: 80px;
    @include var.breakpoint(tablet) {
        margin-top: 100px;
    }

    .content-area {
        padding-bottom: 20px;
        @include var.breakpoint(tablet) {
            padding-bottom: 40px;
        }

        .service-item__wrap {
            width: 94%;
            min-width: 340px;
            max-width: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin: 24px auto 0 auto;
            @include var.breakpoint(tablet) {
                max-width: 960px;
                margin-top: 40px;
            }
            @include var.breakpoint(pc) {
                gap: 30px;
            }

            .service-item {
                width: 100%;
                background-color: #F9F7E7;
                border: 2px solid var.$gray;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding-top: 20px;
                padding-bottom: 12px;
                @include var.breakpoint(tablet) {
                    width: 48%;
                    padding-top: 24px;
                }
                @include var.breakpoint(pc) {
                    // width: 460px;
                    min-height: 264px;
                }

                .title {
                    font-size: 2rem;
                    font-weight: 700;
                    color: white;
                    text-align: center;
                    line-height: 52px;
                    padding: 0 32px;
                    border-radius: 20px;
                    background-color: var.$green;
                    @include var.breakpoint(pc) {
                        font-size: 2.4rem;
                        line-height: 70px;
                    }
                }
                .text {
                    width: 86%;
                }
            }
        }
    }
}